body{
    user-select: none;
    background-color: whitesmoke;
}

.cronometro{
    font-family: 'Tomorrow', sans-serif;
    font-size: 30px;
    text-shadow: 0 0 10px rgb(80, 77, 77);    
}

.input-is-invalid{
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem)!important;
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.buttons{
    margin-bottom: 10px;
}

footer {
    position: fixed;
    bottom: 0;
}
