body{
    user-select: none;
    background-color: whitesmoke;
}

.displayTimer{
    font-family: 'Tomorrow', sans-serif;
    font-size: 40px;
    text-shadow: 0 0 10px rgb(80, 77, 77);
}

label.error{
    color: #dc3545;
    font-size: 15px;
}

footer{
    font-size: x-small;
}
